.header {
    border-bottom: 1px solid #ececec;

    &__block {
        background-color: var(--white-color);
        font-weight: 500;
        letter-spacing: 0.02em;
        display: flex;
        align-items: center;
    }

    &__nav {
        margin-left: 93px;
    }

    &__auth {
        margin-left: auto;
    }
}

