.header {
    border-bottom: 1px solid #ececec;
}

.header__block {
    background-color: var(--white-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: 93px;
}

.header__auth {
    margin-left: auto;
}