.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    color: var(--accent-text-color);

    &__studio--black {
        color: var(--color-black);
    }

    &__studio--white {
        color: var(--white-color);
    }
}

